<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create new pokemon</h1>
    <form action= "/pokemon" method = "POST">
        <input type="text" name="name" placeholder="april 1"><br>
        <input type="text" name="type" placeholder="mangos"><br>
        <input type="text" name="img" placeholder="14"><br>
        <input type="text" name="hp" placeholder="meijers"><br>
        <input type="text" name="attack"placeholder ="grocery store"><br>
        <input type="text" name="defense">
        <input type= "submit" value ="add pokemon">
        
</body>

</html>